# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build files
dist/
dist-ssr
build/
*.local

# 
images/
testImg/
uploads/
.jpg

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
